.dashboard {
  display: flex;
  flex-direction: column-reverse;
  width: 80vw;
  margin: auto;
}

.user-info-sidebar {
  padding: 10px;
  margin-top: 5px;
  width: 80vw;
}

.activity-feed {
  width: 80vw;
}

.user-prof-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info-name {
  padding-left: 10px;
  color: #666666;
  font-size: 30px;
}

.user-prof-user-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-info-total {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  * {
    color: #666666;
  }
}

.user-info-amount {
  font-size: 25px;
}

.user-info-title {
  text-transform: uppercase;
  color: #b5b5b5;
  font-size: 14px;
}

@media(min-width:800px) {
  .dashboard {
    flex-direction: row;
  }
  .user-info-sidebar {
    width: 25vw;
  }
  .activity-feed {
    width: 55vw;
  }
}