.link {
  color: #9297a3;
  cursor: pointer;
}

.link:hover {
  color: #424242;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

// taken directly from https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
