.full-nav-bar {

  background-color: white;
  box-shadow: 0 2px 8px #9E9E9E;
  z-index: 1;

  .main-nav {
    height: 70px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    * {
      background-color: white;
    }
    ul {
      align-items: center;
    }
    .new-session-buttons {
      display: flex;
      flex-direction: row;
    }

    .new-session-buttons * {
      font-size: 13px;
      font-family: "helvetica neue", Helvetica, Arial, Sans-Serif;
    }
    button {
      background-color: #1ddd7c;
      color: white;
      line-height: 30.8px;
      align-content: center;
      padding: 0 10px;
    }

    li {
      align-items: center;
      margin: 5px;
    }

    .login-link {
      color: #9297a3;
      line-height: 30.8px;
    }

    .login-link:hover {
      color: #424242;
    }

    .logout-button {
      padding: 0;
      background-color: white;
    }

    img {
      height: 50px;
      width: 50px;
    }
    .logo {
      display: flex;
      flex-direction: row;
      align-content: center;

      .logo-name {
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        margin_top: 5px;
        color: #ccc;

      }
    }
    .logo-image {
      margin-left: 15px;
      height: 30px;
      width: 30px;
    }

    .dropdown-root {
      position: relative;
    }
    .dropdown {
      display: none;
      position: absolute;
      right: 0;
    }

    .dropdown li {
      border: 1px solid rgb(211, 214, 220);
      width: 42px;
      padding: 0 25px;
      font-size: 14px;
      margin: 0;
      height: 42px;
      display: flex;

    }

    .dropdown:hover {
      cursor: pointer;
    }

    .dropdown-root:hover {
      .dropdown {
        display: block;
      }
    }
  }

}