
.session-form {
  width: 320px;
  font-size: 13px;
  padding: 10px;
  font-family: "helvetica neue", Helvetica, Arial, Sans-Serif;
  margin: auto;
  margin-top: 80px;

  a {
    width: inherit;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    * {
      display: inline-block;
      margin: auto;
      text-align: right;
    }
  }

  a:hover * {
    color: #424242;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input {
      margin-bottom: 15px;
      height: 44px;
      border: 1px solid #9297a3
    }

    input:focus {
      background-color: white;
    }

    select {
      display: block;
      padding: 12px 35px 12px 16px;
      border-radius: 0px;

    }
  }

  button {
    background-color: #1ddd7c;
    width: inherit;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
  }

  button:hover {
    background-color: #18d073;
  }

  span {

    position: relative;
    top: -10px;
  }
}

.whole-page {
  height: 100vh;
}