
.splash-page {
  background-image: url('https://res.cloudinary.com/dtw7iteso/image/upload/v1523046950/pixelbay.jpg');
  background-size: cover;
  height: 80vw;
  width: auto;
  align-content: right;
  max-width: 1200px;
  margin: auto;
  background-position: center;
  * {
    color: white;
  }
  h2 {
    font-size: 50px;
    font-weight: 500;
  }

  .splash-words {
    text-align: right;
    margin-right: 20px;
    padding-top: 50px;
    width: 290px;
    float: right;

    * {
      margin-top: 50px
    }

  }

}

