.splash-page {
  background-image: url('http://res.cloudinary.com/dtw7iteso/image/upload/c_crop,h_1983,r_0,w_4033,x_0,y_465/v1525646389/landscape-78058.jpg');
  background-size: cover;
  height: 90vh;
  width: auto;
  align-content: right;
  margin: auto;
  background-position: right;
  * {
    color: white;
  }
  h2 {
    font-size: 50px;
    font-weight: 500;
  }
  .splash-words {
    text-align: right;
    margin-right: 20px;
    padding-top: 50px;
    width: 290px;
    float: right;
    * {
      margin-top: 50px
    }
  }
}